
<%- contentFor('hero') %>
<section class="hero">
	<div class="hero-content">
		<h2> Welcolme to the Game Site!</h2>
		<p>The best place to be</p>
		<a href="/snake" class="btn btn-lg btn-primary">Snake</a>
		<a href="/hangman" class="btn btn-lg btn-primary">Hangman</a> 
		<a href="/tic-tac-toe" class="btn btn-lg btn-primary">Tic Tac Toe</a> 
		<a href="/ball" class="btn btn-lg btn-primary">Ball</a> 
		<a href="/color-blast" class="btn btn-lg btn-primary">Color Balst</a> 
	</div>	
</section>

<%- contentFor('body') %>
<div class="jumbotron text-center">
	Home Page
</div>



